/* CSS FILE */

 /* 0PORCENT0
    Designed and coded by Ana Leite 
    08.04.2022 */

  /* RESET ______________________________________*/

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }


  /* GENERAL SETTINGS ______________________________________*/

  :root {
    --background-color: #F2F2F2;
    --orange: #FF5408;
    --yellow: #FFF95B;
    --dark-grey: #1F1F1F;
  }

  /* local fonts */
  @font-face {
    font-family: Junicode-BoldCondensed;
    src: url(fonts/junicode/Junicode-BoldCondensed.ttf);
  } 

  @font-face {
    font-family: Editorial-New-Regular;
    src: url(fonts/PPEditorialNew-Free/PPEditorialNew-Regular.otf);
  }

  body {
    background-color: var(--background-color);

    font-family: Editorial-New-Regular;
    color: var(--orange);
    font-size: 3vh;

  }

  /* cor da seleção
  Code for Firefox 
  ::-moz-selection {
    color: white;
    background: black;
  }

  ::selection {
    color: white;
    background: black;
  }

  b {
    font-family: 'Poppins-italic';
  }

  em {
    font-family: 'Poppins-italic';
  }

  strong {
    font-family: 'Poppins-semibold';
  }*/

  a {
    color: var(--orange);
  }


  /* MAIN ______________________________________*/

  /* HEADER ______________________________________*/

  header {
    position: fixed;
    top: 2vh;
    margin-left: 2vw;
  }


  /* HOME ______________________________________*/
  #home {
    /*background-image */
    background: url("images/logo-bg.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-attachment: fixed;
    background-position: center; 

    width: 100vw;
    height: 100vh;

    /* add fallback cursor
    cursor: url('images/icon-post-it.png'), url('image-path-2.svg'), 
    url('image-path-3.jpeg'), auto; */

    /*cursor: url('https://res.cloudinary.com/dvkugaw3b/image/upload/v1641562029/cursor-worm_kij6gi.png'), auto;*/
    cursor: url('images/icon-post-it.png'), auto;
  }

  #home div {
    position:fixed;
    background-color: var(--background-color);
    box-shadow: 1px 1px 15px var(--orange);
    text-align: center;
    padding: 15px;
    font-size: 15vh;

    /*animation*/
    animation: zoom-in-zoom-out 1s ease infinite;

  }
  /* animation zoom
  @keyframes zoom-in-zoom-out {
    0% {transform: scale(1, 1);}
    50% {transform: scale(1.05, 1.05);}
    100% { transform: scale(1, 1);}
  } */

  #home div:hover {
    background-color: var(--orange);
    color: var(--background-color);
  }

  .nav-home-1 {
    top: 8vh;
    left: 2vw;
    cursor: pointer;
  }

  .nav-home-2 {
    bottom: 8vh;
    right: 2vw;
    cursor: help;
  }


  /* INFO ______________________________________*/

  #info {
    position: fixed;
    display: none;
    width: 40vw;
    top: 8vh;
    bottom: 8vh;
    right: 15vw;
    z-index: 2;
    padding: 40px;

    background-color: var(--orange);
    box-shadow: 1px 1px 15px var(--orange);
    color: var(--background-color);
  }



  /* FOOTER ______________________________________*/

  footer {
    position: fixed;
    bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  footer nav {
    display: grid;
    grid-template-columns: 66vw 20vw 10vw;
  }

  /* how to select multiple nth-child*/
  footer nav :nth-child(2n) {
    text-align: right;
  }

  footer nav :nth-child(3n) {
    text-align: right;
  }

  

  /* RESPONSIVE MEDIA ______________________________________*/


